.accordion-button {
  font-size: 12px !important;
  font-weight: bold;
}

.accordion-body {
  font-size: 12px !important;
}

.accordion-button::after {
  background-image: url(../../assets/addIcon.svg);
  background-position: center;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: #90b8f8;
  box-shadow: none !important;
}
