.accordion-button {
  font-size: 12px !important;
  font-weight: 800 !important;
}

.accordion-body {
  font-size: 12px !important;
}

.accordion-button::after {
  background-image: url(../../assets/addIcon.svg) !important;
  background-position: center !important;
  border: 1px solid lightgray !important;
  border-radius: 5px !important;
  padding: 5px !important;
  /* margin-left: auto !important; */
  /* margin-right: auto !important; */
  /* change margin based on direction */
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: #90b8f8 !important;
  box-shadow: none !important;
}
