.headerParent .headerChild{ 
    display: flex;
    width: 965px;
    flex-direction: column;
    align-items: center;
    gap: 6px;    
}

.headerParent{
    padding-top: 150px;
    padding-bottom: 150px;
}
.buttonsWithoutBorderRight{
    border-radius:15px 0 0 15px !important ;
    background-color:  #90B8F8 !important;
}
.buttonsWithoutBorderLeft{
    border-radius:0px 15px 15px 0px !important ;
}
@media (max-width:320px){
.head .headerChild{
    width: 357px;
}
.headerChild h2,.headerChild h5,.headerChild h6{
    font-size: 16px !important;
}
}
.textUnlock,.fa-bolt{
    color: #90B8F8;
}