/* .fzIbsJ {
    --axis-duration: 10s;
    --gap-vertical: 80px;
    --gap-horizontal: 40px;
    position: relative;
    display: grid;
    grid-auto-flow: column;
    -webkit-box-align: start;
    align-items: start;
    width: 6296px;
    animation-timeline: ;
    animation-range-start: ;
    animation-range-end: ;
    grid-column-gap: var(--gap-horizontal);
    animation: gwrhnQ linear 0s infinite;
  } */

:root {
  --stroke-path-length: 6133.576;
}
/* .waveDraw svg polyline { */
/* stroke-length: 6133.576; */
/* stroke-dasharray: 0;
  stroke-dashoffset: 100;
  fill: none;
  stroke: #90b8f8;
  stroke-width: 66;
  stroke-linecap: round;
  stroke-linejoin: round; */

/* opacity: 0; */
/* animation: none; */
/* animation: name duration timing-function delay iteration-count direction fill-mode; */
/* animation: 0.05s ease-out 0s 1 normal forwards running hbjThv,
      2s cubic-bezier(0.56, 0, 0.39, 0.99) 0s infinite normal both running cpnKgB; */

/* animation: 0.05s ease-out 0s 1 normal forwards running hbjThv,
      2s cubic-bezier(0.56, 0, 0.39, 0.99) 0s infinite normal both running cpnKgB; */
/* } */

.waveDraw {
  /* background-color: brown !important; */
  /* display: flex; */
  /* align-self: flex-end; */
  width: 70%;
  /* height: 100%; */
  position: absolute;
  right: -2%;

  /* mask-image: url(./images/draw-277bca84b84c08aff15b03bca5673df3.svg);
  mask-border-repeat: no-repeat;
  mask-border-width: 5px;
  object-fit: contain; */
  /* opacity: 0.2; */

  /* position: absolute; */
  /* top: 50%; */
  /* left: 40%; */
  /* right: 50%; */
  /* width: 70%; */
  /* background-color: aqua; */
  /* transition: 0.2s; */
  /* opacity: 0.1; */
  /* transform: translate(-50%, -50%); */
}

.waveAnimate {
  /* opacity: 1; */
  transition: 1s;

  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  /* 2s ease-out 0s infinite normal forwards running hbjThv, */
  animation: 3s cubic-bezier(0.56, 0, 0.39, 0.99) 2s 1 normal both
    running cpnKgB;

  /* animation: 0.05s ease-out 1s infinite normal forwards running hbjThv,
    1s cubic-bezier(0.56, 0, 0.39, 0.99) 0.5s infinite normal both running cpnKgB; */
}

/* .waveDraw polyline { */
/* stroke: blue; */
/* animation: 1s linear infinite ease-in-out infinite; */
/* animation-duration: 10s; */
/* animation-delay: 10s; */
/* } */

/* @keyframes hbjThv {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

@keyframes cpnKgB {
  0% {
    stroke-dasharray: 0 var(--stroke-path-length);
    opacity: 0;
  }
  100% {
    stroke-dasharray: var(--stroke-path-length) var(--stroke-path-length);
    opacity: 1;
  }
}

.textContent {
  /* position-absolute p-5 end-0 p-3 */

  position: absolute;
  width: 40%;
  right: 7%;
  /* padding: 10px; */
}

.image {
  /* position-absolute start-0 */
  width: 48%;
  position: absolute;
  left: 0;
}
