.courseIcons img {
    width: 100%;
    height: 35px;
    object-fit: cover;
}
.coursesIconsParent{
    background-color: rgb(255, 255, 255) !important;
    height: 150px; 
    position: absolute;
    top: -75px;
 
}
.coursesIconsGrand{
    /* margin: 0p 150px !important; */
    padding: 150px 0px !important;
    background-color: rgb(255, 255, 255);
    position: relative;
}
.videoParent{
    width: 75%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    
}
.videoParent video{
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    object-fit: cover;
}
.fa-circle-play{
    position: absolute;
    font-size: 45px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.VideoSecImg{
    width: 30% ;
    overflow: hidden;
}
.VideoSecImg img{
    width: 100% !important;

}
.iconsBorder{
border-right: 1px solid lightgray;
}
.iconsBorder:last-child{
    border-right: none;
}