.main {
  width: 70% !important;
}

@media (max-width: 767px) {
  .main {
    width: 100% !important;
  }
}
.btn {
  position: fixed;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  bottom: 100px;
  right: 100px;
  background-color: black;
  color: white;
}