* {
  font-family: "Merriweather", serif;
}

.mainSpacer{
  padding: 60px;
}
.NumberTitle{
  color: #90b8f8a2;
}
.benefitPara{
  font-size: 12px !important;
 
}
.CheckNavBar{
  height: 100px;
}
.cardContainer{
  gap: 10px !important;
}