.benefitCard:nth-child(1),
.benefitCard:nth-child(8) {
  padding: 25px !important;
}

.benefitBackground {
  background-image: url(../../../public//images/polygon-scatter-haikei-hexa-outline.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}
