.ProfileCoverImg{
    background-image: url('./Leonardo_Diffusion_XL_programming_3.jpg');
    background-position:left;
    background-size: cover;
    width: 100%;
    height: 250px;
}
.ProfileImg{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    left:50px;
    top: -100px;
    padding: 5px;
    background-color: whitesmoke;
    position: relative;
}
.NameSection{
    height: 200px;

}
.ProfileImg img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.accountData{
    width: 100%;
    padding: 0 100px;
    height: 100%;
}
.NumbersSpans{
    width: 30px;
    height: 30px;
    
}