.ProfileCoverImg{
    background-image: url('./Leonardo_Diffusion_XL_programming_3.jpg');
    background-position:left;
    background-size: cover;
    width: 100%;
    height: 250px;
}
.profileMain{
    width: 95%;
    position: relative;
    left: 5%;
}
.accountData{
    position: relative;
}
.AccountInfos{
    
    left: 180px;
    position: absolute;
}
.ProfileImg{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    left:150px;
    top: -100px;
    padding: 5px;
    background-color: whitesmoke;
    position: relative;
}
.NameSection{
    border: 1px solid lightgray;
    box-shadow: 10px 0px 15px 2px lightgray;
}
.ProfileImg img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.accountData{
    width: 100%;
    padding: 0 100px;
    height: 100%;
}
.NumbersSpans{
    width: 30px;
    height: 30px;
    
}

@media(max-width:767px){
    .ProfileImg{
      
        left:0%;
        top: -100px;
      
    }
    .AccountInfos{
        top: -100px;
        left: 0;
        position: relative;
    }
    .profileMain{
        width: 90%;
        left: 10%;
    }
}
.dognhutParent{
    width: 300px !important;
}