.socialLinks,
.flexCenter {
  display: flex;
  justify-content: start;
  align-items: center;
}

.socialBtn {
  cursor: pointer;
  height: 50px;
  width: 50px;
  font-family: "Titillium Web", sans-serif;
  color: #333;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  background: white;
  margin: 5px;
  transition: 0.3s;
  justify-content: center;
}

.socialBtn svg {
  height: 24px;
  width: 24px;
}

.socialBtn span {
  width: 0px;
  overflow: hidden;
  transition: 0.3s;
  text-align: center;
  margin-left: 5px;
}

.socialBtn:hover {
  width: 150px;
  border-radius: 5px;
  padding: 5px;
}

.socialBtn:hover span {
  padding: 2px;
  width: 80px;
}

.twitter:hover {
  background-color: #1da1f2;
}

.linkedin:hover {
  background-color: #0e76a8;
}

.github:hover {
  background-color: #333;
}

.twitter svg {
  fill: #1da1f2;
}

.linkedin svg {
  fill: #0e76a8;
}

.github svg {
  fill: #333;
}

.github:hover svg,
.twitter:hover svg,
.linkedin:hover svg,
.github span,
.linkedin span,
.twitter span {
  fill: white;
  color: white !important;
}

@media (max-width: 769px) {
  .socialLinks,
  .flexCenter {
    justify-content: center !important;
  }
}
